@import "css/reset.css";

body {
    font-family:helvetica, arial, sans-serif;
    display: block;
    height: 5500px;
}

#header {
    width: 100%;
    background-image: url(http://content.bmwusa.com/microsite/i8_landing/images/Hero-Image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}
#container .innovation-area {
    position: relative;
    margin: -7px auto;
    width: 1004px;
    max-width: 940px;
    margin 0 auto;
}
#container .innovation-area h1{
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: 41px;
    text-transform: uppercase;
    text-align: center;
}
#container .innovation-area p{
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
}
