@import "css/reset.css";

body {
    font-family:helvetica, arial, sans-serif;
    display: block;
    height: 5500px;
}

#header {
    width: 100%;
    background-image: url(http://content.bmwusa.com/microsite/i8_landing/images/Hero-Image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 444px;
}
#container .innovation-area {
    position: relative;
    margin: -7px 210px;
    width: 100%;
    max-width: 1080px;
    margin 0 auto;
}
#container .innovation-area h1{
    color: #212121;
    margin-top: 80px;
    margin-bottom: 18px;
    font-size: 45px;
    text-transform: uppercase;
    text-align: left;
}
#container .innovation-area p {
    color: #626262;
    font-size: 17px;
    text-align: left;
    line-height: 25px;
}

#container .innovation-area .specs-price h2 {
    font-weight: 200;
    font-size: 32px;
    margin-top: 25px;
}
